@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --sucess: 153, 204, 51;
  --warning: 255, 153, 102;
  --error: 204, 51, 0;

  --background: 245, 245, 247;

  --cta: 120, 0, 0;

  --border: 204, 197, 185;
  --card: 255, 255, 255;
  --card_secondary: 198, 198, 198;

  --text: 0, 0, 0;
}

.dark {
  --sucess: 153, 204, 51;
  --warning: 255, 153, 102;
  --error: 204, 51, 0;

  --background: 30, 30, 30;

  --cta: 120, 0, 0;

  --border: 204, 197, 185;
  --card: 60, 60, 60;
  --card_secondary: 198, 198, 198;

  --text: 255, 255, 255;
}

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  body {
    @apply bg-background;
  }

  h1,
  h2,
  h3,
  p,
  a,
  li {
    @apply text-text;
  }

  .selected {
    @apply text-cta font-bold bg-card_secondary !important;
  }
}
